# ----------------------------------------------------
# GENERAL CONFIGURATION
# ----------------------------------------------------
# Path to the mod (consider creating a copy such as MOD_LANGUAGE)
# MOD_PATH="C:\...\Astrox Imperium\Astrox Imperium_Data\MOD_NAME"
MOD_PATH="PATH_TO_YOUR_MOD_FOLDER"

# Your API Key for the service (e.g., OpenAI, Google Gemini, Openrouter, etc.)
# Need cURL support
API_KEY="YOUR_API_KEY_HERE"

# The endpoint (base URL) for the API calls, cURL endpoint
ENDPOINT_AI="https://api.provider-example.ai/v1/chat/completions"

# ----------------------------------------------------
# HIGH-LEVEL MODEL CONFIGURATION (HIGH)
# Used for texts with extensive code or embedded complexity.
# Used for csv strings
# ----------------------------------------------------

HIGH_MODEL="model_name"
HIGH_MODEL_MAX_TOKENS="2000"


# ----------------------------------------------------
# MIDDLE-LEVEL MODEL CONFIGURATION (MIDDLE)
# Used for standard tasks or moderately complex texts.
# ----------------------------------------------------

MIDDLE_MODEL="model_name"
MIDDLE_MODEL_MAX_TOKENS="1500"
